* {
  font-family: Arial, sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.buttons {
  border-radius: 1.5em;
  margin: 20px auto 0;
  width: 25%;
  min-width: 350px;
}

.button {
  float: left;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  background: #eee;
  width: 32%;
  font-size: 18px;
  font-family: "Josefin Slab", serif;
}
.btinput {
  visibility: hidden;
  width: 0;
  height: 0;
}

.btinput:checked + label {
  background: #ccc;
}

.btmml {
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
}

.textarea {
  display: block;
  margin: 50px auto 20px;
  width: 614px;
  height: 140px;
}

.mathrender {
  background: #eee;
  width: 800px;
  min-height: 150px;
  margin: 15px auto;
  text-align: center;
}
